.toolbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 4vmin;
    line-height: 2rem;
    color: #020201;
}

@media (max-width: 800px) {
    .title{
        font-size: 7vmin;
        line-height: 2rem;
    }
}
